/* More CSS styles as needed */
body {
    font-family: 'Roboto Mono', monospace;
    color: #666;
    background-color: #111013;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main>section {
    max-width: 680px;
    margin: 60px auto 0;
}

header,
footer {
    text-align: center;
    padding: 20px 0;
}

header .title {
    font-size: 4.2em;
    margin: 0;
}

header .social-links {
    margin-top: 10px;
}

header .social-links a {
    text-decoration: none;
    margin: 0 10px;
}