.year-section {
    margin-bottom: 30px;
}

.year-section h2 {
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.article-list {
    list-style: none;
    padding-left: 0;
}

.article-list li {
    margin-bottom: 40px;
    background-color: #222;
    border-radius: 5px;
    margin: 10px auto 0;
    padding: 14px;
}

.article-list li:last-child {
    border-bottom: none;
}


.article-list .tags {
    margin-top: 5px;
}

.article-list .tags a {
    display: inline-block;
    color: #555;
    padding: 3px 10px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 0.85em;
    border-radius: 3px;
}

div.article_box {
    display: flex;
    justify-content: space-between;
}

div.title {
    color: #888;
    font-size: larger;
    text-decoration: none;
    cursor: auto;
}


li[data-href]:hover .article_box .title,
li[data-href]:hover .article_box .date {
    /* Example styles to indicate clickable items */
    color: #007bff;
    /* Change color */
    text-decoration: underline;
    /* Add underline */
}

/* Optional: Change cursor to pointer for the entire li element */
li[data-href] {
    cursor: pointer;
}

/* Ensure cursor is default for links inside li */
li[data-href] a {
    cursor: pointer;
}

ul>li>a:link {
    text-decoration: none;
}

ul>li>a:visited {
    text-decoration: none;
}

ul>li>a:hover {
    text-decoration: none;
}

ul>li>a:active {
    text-decoration: none;
}