.year-section {
    margin-bottom: 30px;
}

.year-section h2 {
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.article-list {
    list-style: none;
    padding-left: 0;
}

.article-list li {
    margin-bottom: 40px;
    background-color: #222;
    border-radius: 5px;
    margin: 10px auto 0;
    padding: 14px;
}

.article-list li:last-child {
    border-bottom: none;
}

.tag {
    margin-right: 18px;
}

.article-list .tags {
    margin-top: 5px;
}

.article-list .tags a {
    display: inline-block;
    color: #555;
    padding: 3px 10px;
    margin-right: 5px;
    font-size: 0.85em;
    border-radius: 3px;
}

div.article_box {
    display: flex;
    justify-content: space-between;
}

div.title {
    color: #888;
    font-size: larger;
    margin-right: 20px;
}