body {
    color: #666;
    line-height: 1.6;
    padding: 20px;
}

article {
    margin-bottom: 40px;
    background-color: #222;
    border-radius: 5px;
    margin: 10px auto 0;
    padding: 14px;
}

article h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #000;
}

article p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
}

div.title_box {
    display: flex;
    justify-content: space-between;
}

div.title {
    color: #888;
    font-size: larger;
}

div.tldr {
    color: #555;
}

article>a {
    text-decoration: none;
}

.article-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-meta .date {
    color: #666;
    font-size: 0.9em;
}

/* Add any other styles you need for the page */

footer {
    text-align: center;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: #555;
    font-size: 1em;
}

/* Style for 'Older posts' navigation link */
.pagination {
    text-align: center;
}

.pagination a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.pagination a:hover {
    background-color: #e4e4e4;
}


article:hover .title_box .title,
article:hover .title_box .date {
    /* Example styles to indicate clickable items */
    color: #007bff;
    /* Change color */
    text-decoration: underline;
    /* Add underline */
}

div.date>time {
    white-space: nowrap;
}