<!DOCTYPE html>
<html>
<head>
    <title>InterVolz About</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- Add any head elements like CSS links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@900&family=Rochester&family=Saira+Stencil+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <!-- Navigation links -->
            <a href="/">~</a> <a href="/archive">~/archive</a> <a href="/tags">~/tags</a> <a href="/about">~/about</a>
        </nav>
        <h1 class="title">InterVolz</h1>
        <div class="social-links">
            <!-- Social media links -->
            <a href="#">Github</a>
            <!-- <a href="#">Twitter</a> -->
            <!-- <a href="#">Stack Overflow</a> -->
        </div>
    </header>
    <main>
        <section>
        {{{content}}} <!-- This is where the Markdown content will be injected -->
        </section>
    </main>
    <footer>
        <!-- Your site's footer content -->
    </footer>
</body>
</html>
